*
{
    margin: 0;
    padding: 0;
}

.admin-login
{
    background: linear-gradient(136deg, rgb(224,195,252) 0%, rgb(142,197,252) 100%);
    padding:7%;
    height:100vh;
}

.content-div
{
   padding-left: 500px;
   padding-top: 200px;
}

.heading-div
{
    font-size:30px;
    font-weight: 700 bold;
    margin: 0 50px;
}

.heading-div h1{
    padding: 0 auto;
    text-align: center;
}
.content-div
{
    width:80px;
    margin: 0 auto;
}

label,input,button
{
   position: relative;
   right:450px;
   bottom:150px;  
}

input,button
{
    padding:10px;
    width:50vh;
    margin: 15px auto;
}

button
{
    background-color: black;
    color: white;
}




